body {
    background: linear-gradient(180deg, #FFA1A1 36.98%, #E9942F 100%);
}

#description {
    margin: 25px;
    display: flex;
}

#description p {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 156%;
    text-align: right;
    color: #FFFFFF;
}

#input {
    height: 40vh;
    margin: 0 45px;
    padding: 2rem;
    background: #FF6159;
    border-radius: 10px;
}

.search {
    display: flex;
    gap: 1rem;
}

.search input {
    flex-grow: 1;
    border-radius: 10px;
    padding-left: 1rem;

    font-family: 'Mitr';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 71%;
    color: #000000;
}

.search img {
    background-color: #F3A25C;
    padding: 8px 10px;
    border-radius: 10px;
    transition-duration: 0.2s;
}

.search img:hover {
    cursor: pointer;
    transform: scale(1.05);
}