body {
    background: linear-gradient(180deg, #A1D8FF 36.98%, #67DEEE 50%, #58F29F 82.81%, #33E92F 100%);
}

#description {
    margin: 25px;
    display: flex;
}

#description p {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 156%;
    text-align: right;
    color: #FFFFFF;
}

#input {
    min-height: 50vh;
    margin: 0 45px;
    padding: 2rem;
    background: #599BFF;
    border-radius: 10px;
}

.search {
    display: flex;
    gap: 1rem;
}

.search input {
    flex-grow: 1;
    border-radius: 10px;
    padding-left: 1rem;

    font-family: 'Mitr';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 71%;
    color: #000000;
}

.search img {
    background-color: #F3A25C;
    padding: 4px;
    border-radius: 10px;
    transition-duration: 0.2s;
}

.search img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

p.summary {
    margin: 2rem 0;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 125%;
    color: #FFFFFF;
}

div.summary {
    min-height: 15vh;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #FFFFFF;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 156%;
    color: #000000;    
}